node_modules
.next
dist
coverage
.turbo
.env
.env.local
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
package-lock.json
apps/api/generated
apps/api/prisma/dev.db
apps/api/prisma/dev.db-journal

